<!-- Welcome Section -->
<section id="gtco-welcome" class="bg-white section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-sm-5 img-bg d-flex shadow align-items-center justify-content-center justify-content-md-end img-2" style='background-image: url({{ "img/iimbanner.jpg" | absURL }});'>
                </div>
                <div class="col-sm-7 py-5 pl-md-0 pl-4">
                    <div class="heading-section pl-lg-5 ml-md-5">
                        <span class="subheading">
                            About
                        </span>
                        <h2>
                            Welcome to KGiSL IIM
                        </h2>
                    </div>
                    <div class="pl-lg-5 ml-md-5">
                        <p>Established in the year 2002, the KGiSL Institute of Information Management (KGiSL-IIM) enjoys the industry-sponsored institute status sharing the same ambiance and facilities of the sponsors, KGiSL. </p>
                        <p>It is the brainchild of Dr Ashok Bakthavathsalam, Founder and Managing Director of KG Information Systems Private Limited (KGiSL)</p>
                        <h3 class="mt-5">Accreditations</h3>
                        <div class="row">
                            <div class="col-4">
                                <a href="#" class="thumb-menu">
                                    <img class="img-fluid img-cover" src='{{"img/bh.png" | absURL }}' />
                                    <h6>Affiliated to Bharathiar University</h6>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="#" class="thumb-menu">
                                    <img class="img-fluid img-cover" src='{{"img/aicte.png" | absURL }}' />
                                    <h6>Approved by All India Council for Technical Education (AICTE)</h6>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="#" class="thumb-menu">
                                    <img class="img-fluid img-cover" src='{{"img/tuv.png" | absURL }}'/>
                                    <h6>ISO Certified</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Welcome Section -->	