<!-- Section -->
<section id="gtco-explorica" class="bg-white section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-sm-5 img-bg d-flex shadow align-items-center justify-content-center justify-content-md-end img-2" style='background-image: url({{ "img/iimbanner.jpg" | absURL }});'>
                </div>
                <div class="col-sm-7 py-5 pl-md-0 pl-4">
                    <div class="heading-section pl-lg-5 ml-md-5">
                        <span class="subheading" style="font-weight:bold;">
                            About
                        </span>
                        <h2 style="color:#29166F;">
                            Explorica
                        </h2>
                    </div>
                    <div class="pl-lg-5 ml-md-5">
                        <h4 style="text-align:justify;color:#29166f;line-height:40px;">Appzion'2k22 a proudly organizes EXPLORICA by the Department of Computer Science at KGiSL Institute of Information Management.</h4> 
                        <h4 style="text-align:justify;color:#29166f;line-height:40px;">Entertain 💫and engage yourselves at the various exciting technical and non-technical events✨</h4> 
                        <h4 style="text-align:justify;color:#29166f;line-height:40px;">Let your worries fly away and your imaginations run wild at the exhilarating fun events💥</h4>
                        <h2 style="text-align:center;color:#29166f;">Do participate and win exciting prizes🎖</h2>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Section -->	