<!-- Reservation Section -->
<section id="gtco-reservation" class="bg-fixed bg-white section-padding overlay" style='background-image: url({{ "img/registration.jpg" | absURL }});'>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-content bg-white p-5 shadow">
                    <div class="heading-section text-center">
                        <h2 style="color:red;font-weight:bold;">
                            Registration
                        </h2>
                    </div>
                    <form method="post" name="contact-us" action="" data-netlify="true">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
                            </div>
                            <div class="col-md-12 form-group">
                                <select class="form-control">
                                    <option>--Select Institution--</option>
                                    <option>KGCAS</option>
                                    <option>KITE</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-group">
                                <select class="form-control">
                                    <option>--Select Your Department--</option>
                                    <optgroup label="KGCAS">
                                        <option>B.A. English</option>
                                        <option>B.Com.</option>
                                        <option>B.Com. CA</option>
                                        <option>B.Com. IT</option>
                                        <option>B.Com. PA</option>
                                        <option>B.B.A</option>
                                        <option>B.B.A. CA</option>
                                        <option>B.Sc. Maths</option>
                                        <option>B.Sc. CS</option>
                                        <option>B.C.A.</option>
                                        <option>B.Sc. IT</option>
                                        <option>B.Sc. CT</option>
                                        <option>B.Sc. ECS</option>
                                        <option>B.Sc. Biotechnology</option>
                                        <option>M.Sc. SS</option>
                                        <option>M.Sc. CS</option>
                                        <option>M.Sc. Maths</option>
                                        <option>M.A. English</option>
                                        <option>M.Com. IB</option>
                                    </optgroup>
                                    <optgroup label="KITE">
                                        <option>B.E. ECE</option>
                                        <option>B.E. Mechanical</option>
                                        <option>B.Tech. IT</option>
                                        <option>B.Tech. AI & DS</option>
                                        <option>B.Tech. CS & BS</option>
                                        <option>M.E. Applied Electronics</option>
                                        <option>M.E. CSE</option>
                                        <option>M.B.A</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="col-md-12 form-group">
                                <select class="form-control">
                                    <option>--Select your Year--</option>
                                    <option>I</option>
                                    <option>II</option>
                                    <option>III</option>
                                    <option>IV</option>
                                    <option>V</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Whatsapp Mobile Number">
                            </div>
                            <label>Choose your events:</label>
                            <div class="col-md-12 form-group">
                                <select class="form-control" multiple>
                                    <optgroup label="Technical Events">    
                                        <option>Web Page Development</option>
                                        <option>Poster Design</option>
                                        <option>Paper Presentation</option>
                                        <option>Code Debugging</option>
                                        <option>Quiz</option>
                                    </optgroup>
                                    <optgroup label="Fine Arts Events">    
                                        <option>Poster Making</option>
                                        <option>Rangoli</option>
                                        <option>Best Out of Waste</option>
                                        <option>Photography</option>
                                    </optgroup>
                                    <optgroup label="Cultural Events">    
                                        <option>Dance</option>
                                        <option>Ad Mad Show</option>
                                        <option>Connection</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <div data-netlify-recaptcha="true"></div>
                              </div>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary btn-shadow btn-lg" type="submit" name="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</section>