<!-- Reservation Section -->
<section id="gtco-reservation" class="bg-fixed bg-white section-padding overlay" style='background-image: url({{ "img/registration.jpg" | absURL }});'>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-content bg-white p-5 shadow">
                    <div class="heading-section text-center">
                        <h2 style="color:red;font-weight:bold;">
                            Registration
                        </h2>
                    </div>
                    <div class="heading-section text-center">
                        <h2>
                            <p style="color:blue;font-size:20px;">Registration closed</p>
                            <!-- <a style="color:blue;text-decoration: underline;" href="https://bit.ly/explorica2k22" target="_blank">Explorica 2K22</a> -->
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>