<!-- Special Dishes Section -->
<section id="gtco-special-dishes" class="bg-grey section-padding">
    <div class="container">
        <div class="section-content">
            <div class="heading-section text-center">
                <span class="subheading" style="font-weight:bold;">
                    Explorica 2k22
                </span>
                <h2 style="color:#29166F;">
                    Events
                </h2>
            </div>
            <div class="row mt-5">
                <div class="col-lg-5 col-md-6 align-self-center py-5">
                    <h2 class="special-number">01.</h2>
                    <div class="dishes-text">
                        <h3 style="color:#29166F;font-weight:bold;"><span>Technical Events</span><br> Web Page Development</h3>
                        <p class="pt-3" style="font-style:italic;color:#29166F;text-align:justify;font-size: 18px;">This event deals with web page designing, which mainly gives different scopes of services in the field of web design. Participants should work behind the scenes to make the web page perform well with a flawless user experience.</p>
                        <a href="/blog/web-page" class="btn-primary mt-3" style="font-weight:bold;">Rules</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
                    <img src='{{ "img/webp/web1.webp" | absURL }}' alt="" class="img-fluid shadow w-100">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
                    <img src='{{ "img/webp/pd.webp" | absURL }}' alt="" class="img-fluid shadow w-100">
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2 py-5">
                    <h2 class="special-number">02.</h2>
                    <div class="dishes-text">
                        <h3 style="color:#29166F;font-weight:bold;"><span>Technical Events</span><br> Poster Design</h3>
                        <p class="pt-3" style="font-style:italic;color:#29166F;text-align:justify;font-size: 18px;">Presenters use posters to entice audiences to read about their work, and to understand and remember the information presented. In addition, a good poster is not overloaded with text; it contains only the most essential bits of text and graphics needed to tell the story.</p>
                        <a href="/blog/poster-design" class="btn-primary mt-3" style="font-weight:bold;">Rules <span><i class="fa fa-long-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-5 col-md-6 align-self-center py-5">
                    <h2 class="special-number">03.</h2>
                    <div class="dishes-text">
                        <h3 style="color:#29166F;font-weight:bold;"><span>Technical Events</span><br> Paper Presenatation</h3>
                        <p class="pt-3" style="font-style:italic;color:#29166F;text-align:justify;font-size: 18px;">The purpose of a paper presentation is to enhance a particular student’s ability in the art of academic writing or making papers in English and to present it. It also helps broaden the minds of the participants a little more.</p>
                        <a href="/blog/paper" class="btn-primary mt-3" style="font-weight:bold;">Rules</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
                    <img src='{{ "img/webp/paper.webp" | absURL }}' alt="" class="img-fluid shadow w-100">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
                    <img src='{{ "img/webp/cd.webp" | absURL }}' alt="" class="img-fluid shadow w-100">
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2 py-5">
                    <h2 class="special-number">04.</h2>
                    <div class="dishes-text">
                        <h3 style="color:#29166F;font-weight:bold;"><span>Technical Events</span><br> Code Debugging</h3>
                        <p class="pt-3" style="font-style:italic;color:#29166F;text-align:justify;font-size: 18px;">Debugging is the process of detecting and removing of existing and potential errors (also called as ‘bugs’) in a software code that can cause it to behave unexpectedly or crash. To prevent incorrect operation of a software or system, debugging is used to find and resolve bugs or defects. </p>
                        <a href="/blog/cd" class="btn-primary mt-3" style="font-weight:bold;">Rules <span><i class="fa fa-long-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-5 col-md-6 align-self-center py-5">
                    <h2 class="special-number">05.</h2>
                    <div class="dishes-text">
                        <h3 style="color:#29166F;font-weight:bold;"><span>Technical Events</span><br> Quiz</h3>
                        <p class="pt-3" style="font-style:italic;color:#29166F;text-align:justify;font-size: 18px;">The Objective behind to organize Quiz competition is to evaluate the knowledge of the participants within academics as well as beyond academics and to make them familiar with the prospects of quizzes and the objectivity of the questions. The main purpose of the competition to develop interest in subject areas including competitive aspects.</p>
                        <a href="/blog/quiz" class="btn-primary mt-3" style="font-weight:bold;">Rules</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
                    <img src='{{ "img/webp/quiz.webp" | absURL }}' alt="" class="img-fluid shadow w-100">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
                    <img src='{{ "img/webp/pm.webp" | absURL }}' alt="" class="img-fluid shadow w-100">
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2 py-5">
                    <h2 class="special-number">06.</h2>
                    <div class="dishes-text">
                        <h3 style="color:#29166F;font-weight:bold;"><span>Fine Arts Events</span><br> Poster Making</h3>
                        <p class="pt-3" style="font-style:italic;color:#29166F;text-align:justify;font-size: 18px;">A poster is a very useful means of making an announcement or appeal, issuing a notice, advertising a product or bringing about awareness on any issue of public interest. A poster should be visually attractive and readable from a distance.</p>
                        <a href="/blog/pm" class="btn-primary mt-3" style="font-weight:bold;">Rules <span><i class="fa fa-long-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-5 col-md-6 align-self-center py-5">
                    <h2 class="special-number">07.</h2>
                    <div class="dishes-text">
                        <h3 style="color:#29166F;font-weight:bold;"><span>Fine Arts Events</span><br> Rangoli</h3>
                        <p class="pt-3" style="font-style:italic;color:#29166F;text-align:justify;font-size: 18px;">Rangoli is a colorful piece of art and sometimes, your art speaks better than your words.</p>
                        <a href="/blog/rangoli" class="btn-primary mt-3" style="font-weight:bold;">Rules</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
                    <img src='{{ "img/webp/rangoli.webp" | absURL }}' alt="" class="img-fluid shadow w-100">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
                    <img src='{{ "img/webp/waste.webp" | absURL }}' alt="" class="img-fluid shadow w-100">
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2 py-5">
                    <h2 class="special-number">08.</h2>
                    <div class="dishes-text">
                        <h3 style="color:#29166F;font-weight:bold;"><span>Fine Arts Events</span><br> Best Out of Waste</h3>
                        <p class="pt-3" style="font-style:italic;color:#29166F;text-align:justify;font-size: 18px;">Recycling and reusing the valuable waste material can result in development of fantastic and usable products. Rather than putting these waste materials into the landfills, various innovative and creative ideas can be put together to being something new and useful.</p>
                        <a href="/blog/waste" class="btn-primary mt-3" style="font-weight:bold;">Rules <span><i class="fa fa-long-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-5 col-md-6 align-self-center py-5">
                    <h2 class="special-number">09.</h2>
                    <div class="dishes-text">
                        <h3 style="color:#29166F;font-weight:bold;"><span>Fine Arts Events</span><br> Photography</h3>
                        <p class="pt-3" style="font-style:italic;color:#29166F;text-align:justify;font-size: 18px;">Photography captures memories and leads you to be present as you explore the world around you.</p>
                        <a href="/blog/photography" class="btn-primary mt-3" style="font-weight:bold;">Rules</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
                    <img src='{{ "img/webp/photo.webp" | absURL }}' alt="" class="img-fluid shadow w-100">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
                    <img src='{{ "img/webp/dance.webp" | absURL }}' alt="" class="img-fluid shadow w-100">
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2 py-5">
                    <h2 class="special-number">10.</h2>
                    <div class="dishes-text">
                        <h3 style="color:#29166F;font-weight:bold;"><span>Cultural Events</span><br> Dance</h3>
                        <p class="pt-3" style="font-style:italic;color:#29166F;text-align:justify;font-size: 18px;">Dance, the movement of the body in a rhythmic way, usually to music and within a given space, for the purpose of expressing an idea or emotion, releasing energy, or simply taking delight in the movement itself.</p>
                        <a href="/blog/dance" class="btn-primary mt-3" style="font-weight:bold;">Rules <span><i class="fa fa-long-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-5 col-md-6 align-self-center py-5">
                    <h2 class="special-number">11.</h2>
                    <div class="dishes-text">
                        <h3 style="color:#29166F;font-weight:bold;"><span>Cultural Events</span><br> Ad Mad Show</h3>
                        <p class="pt-3" style="font-style:italic;color:#29166F;text-align:justify;font-size: 18px;">AD MAD SHOW is an 'Advertisement Making Competition' for students to showcase their creativity in Marketing products and services. Its objective is to acquaint the students about promotional strategies in marketing through advertisements.</p>
                        <a href="/blog/admad" class="btn-primary mt-3" style="font-weight:bold;">Rules</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
                    <img src='{{ "img/webp/admad.webp" | absURL }}' alt="" class="img-fluid shadow w-100">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
                    <img src='{{ "img/webp/connection.webp" | absURL }}' alt="" class="img-fluid shadow w-100">
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2 py-5">
                    <h2 class="special-number">12.</h2>
                    <div class="dishes-text">
                        <h3 style="color:#29166F;font-weight:bold;"><span>Cultural Events</span><br> Connections</h3>
                        <p class="pt-3" style="font-style:italic;color:#29166F;text-align:justify;font-size: 18px;">A connection game is a type of abstract strategy game in which players attempt to complete a specific type of connection with their pieces. This could involve forming a path between two or more endpoints, completing a closed loop, or connecting all of one's pieces so they are adjacent to each other. Connection games typically have simple rules, but complex strategies.</p>
                        <a href="/blog/connection" class="btn-primary mt-3" style="font-weight:bold;">Rules <span><i class="fa fa-long-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Special Dishes Section -->